body { background: #3e9207; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 31px; display: flex; }
.block-logger-0 { color: #9b5016; font-size: 13px; margin-bottom: 5px; }
.block-cluster-1 { color: #e87969; font-size: 21px; margin-bottom: 5px; }
.block-token-2 { color: #f8fb93; font-size: 13px; margin-bottom: 5px; }
.block-cart-3 { color: #363f48; font-size: 18px; margin-bottom: 5px; }
.block-logger-4 { color: #e2ab8d; font-size: 14px; margin-bottom: 5px; }
.block-notify-5 { color: #f169b5; font-size: 13px; margin-bottom: 5px; }